<!DOCTYPE html>
<html lang="sk">
  <head>
    <%- include('../templates/meta.ejs')-%>
    <link rel="stylesheet" href="/static/swiper/swiper-bundle.min.css" />
    <title>OSA Virtual Challenge</title>
  </head>
  <body>
    <header class="page-header bg-img__hobby-run">
      <div class="l-page-container">
        <%- include('../templates/nav.ejs')-%>
        <div class="py-4 grid-columns-2">
          <section>
            <h1 class="page-header__headline">
              Hobby - Run
              <span class="headline-underline"></span>
            </h1>
            <p class="page-header__text">
              Ideálny týždeň pre rekreačného bežca?
            </p>
            <ul class="challenge-meta">
              <li class="challenge-meta__item">
                <span class="fas fa-running fa-lg fa-fw mr-05"></span>
                <div class="challenge-meta__text challenge-meta__text--strong">
                  Beh
                </div>
              </li>
              <li class="challenge-meta__item">
                <span class="fas fa-tag fa-lg fa-fw mr-05"></span>
                <div class="challenge-meta__text challenge-meta__text--strong">
                  <span class="subheading">Cena</span><br />
                  30 €
                </div>
              </li>
              <li class="challenge-meta__item">
                <span class="fas fa-heartbeat fa-lg fa-fw mr-05"></span>
                <div class="challenge-meta__text challenge-meta__text--strong">
                  <span class="subheading">Vzdialenosti aktivít</span><br />
                  6km / 8km / 10km
                </div>
              </li>
              <li class="challenge-meta__item">
                <span class="fas fa-medal fa-lg fa-fw mr-05"></span>
                <div class="challenge-meta__text challenge-meta__text--strong">
                  <span class="subheading">Počet medailí</span><br />
                  100ks
                </div>
              </li>
              <li class="challenge-meta__item">
                <span class="fas fa-hourglass-half fa-lg fa-fw mr-05"></span>
                <div class="challenge-meta__text challenge-meta__text--strong">
                  <span class="subheading">Čas na zvládnutie</span><br />
                  30 dní
                </div>
              </li>
            </ul>
            <a href="/objednavka/vyzva/4" class="button mt-1"
              >Zapojiť sa do výzvy</a
            >
          </section>
          <section class="gifts text-light">
            <div class="text-center">
              <!-- Slider main container -->
              <div class="swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                  <!-- Slides -->
                  <div class="swiper-slide">
                    <img
                      class="gifts__image"
                      src="https://res.cloudinary.com/osavirtual/image/upload/v1612457454/odmeny/RunHobby_zzn6bu.png"
                      alt="Medaila Hobby-Run"
                    />
                  </div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>

                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
              </div>
            </div>
            <h2 class="gifts__title">Odmeny:</h2>
            <ul class="gifts__list fa-ul">
              <li class="gifts__item">
                <div class="gifts__highlight">
                  <span class="fa-li">
                    <span class="fas fa-check"></span>
                  </span>
                  Medaila + darčekové pamätné balenie
                </div>
                <div class="gifts__description">
                  v hodnote 14 € (medaila, balenie, poštovné)
                </div>
              </li>
              <li class="gifts__item">
                <div class="gifts__highlight">
                  <span class="fa-li">
                    <span class="fas fa-check"></span>
                  </span>
                  Darček (malé prekvapenie na pamiatku)
                </div>
                <div class="gifts__description">v hodnote 5 €</div>
              </li>
              <li class="gifts__item">
                <div class="gifts__highlight">
                  <span class="fa-li">
                    <span class="fas fa-check"></span>
                  </span>
                  Podporíš športový rozvoj detí v OSA Športovej akadémii
                </div>
                <div class="gifts__description">
                  v hodnote 2 € zo štartovného
                </div>
              </li>
            </ul>
          </section>
        </div>
      </div>
    </header>
    <main>
      <section class="my-4">
        <div class="l-page-container">
          <h2 class="text-center">
            Informácie o výzve
            <span
              class="headline-underline headline-underline--centered"
            ></span>
          </h2>
          <p>
            Ak behávaš pre radosť aspoň 1x v týždni a počúvaš bežcov, že zvládli
            preteky na 10km „pod hodinu“, tak to skús. Bežecká výzva HOBBY je
            ako stvorená pre Teba. Že nevydržíš 10km? Každou aktivitou v tejto
            výzve sa priblížiš k svojmu cieľu. A nemusí to byť ani „pod hodinu“.
            Stále je to HOBBY beh a teda nejde o čas.
          </p>
        </div>
      </section>
      <%- include('../templates/rules.ejs')-%>
    </main>
    <%- include('../templates/footer.ejs') -%> <%-
    include('../templates/scripts.ejs') -%>
    <script type="module" src="/static/swiper/swiper-init.js"></script>
  </body>
</html>
