<!DOCTYPE html>
<html lang="sk">
  <head>
    <%- include('../templates/meta.ejs')-%>
    <link rel="stylesheet" href="/static/swiper/swiper-bundle.min.css" />
    <title>OSA Virtual Challenge</title>
  </head>
  <body>
    <header class="page-header bg-img__run">
      <div class="l-page-container">
        <%- include('../templates/nav.ejs')-%>
        <div class="py-4 grid-columns-2">
          <section>
            <h1 class="page-header__headline">
              Balík - Run
              <span class="headline-underline"></span>
            </h1>
            <p class="page-header__text">
              Každý týždeň zabehni viac, ako si myslíš, že si schopný.
            </p>
            <ul class="challenge-meta">
              <li class="challenge-meta__item">
                <span class="fas fa-running fa-lg fa-fw mr-05"></span>
                <div class="challenge-meta__text challenge-meta__text--strong">
                  Beh
                </div>
              </li>
              <li class="challenge-meta__item">
                <span class="fas fa-tag fa-lg fa-fw mr-05"></span>
                <div class="challenge-meta__text challenge-meta__text--strong">
                  <span class="subheading">Cena</span><br />
                  80 €
                </div>
              </li>
              <li class="challenge-meta__item">
                <span class="fas fa-trophy fa-lg fa-fw mr-05"></span>
                <div class="challenge-meta__text challenge-meta__text--strong">
                  <span class="subheading">Počet aktivít</span><br />
                  10
                </div>
              </li>
              <li class="challenge-meta__item">
                <span class="fas fa-heartbeat fa-lg fa-fw mr-05"></span>
                <div class="challenge-meta__text challenge-meta__text--strong">
                  <span class="subheading">Aktivity z Basic - Run</span><br />
                  5 km
                </div>
              </li>
              <li class="challenge-meta__item">
                <span class="fas fa-heartbeat fa-lg fa-fw mr-05"></span>
                <div class="challenge-meta__text challenge-meta__text--strong">
                  <span class="subheading">Aktivity z Hobby - Run</span><br />
                  6 km / 8 km / 10 km
                </div>
              </li>
              <li class="challenge-meta__item">
                <span class="fas fa-heartbeat fa-lg fa-fw mr-05"></span>
                <div class="challenge-meta__text challenge-meta__text--strong">
                  <span class="subheading">Aktivity z Hard - Run</span><br />
                  7 km / 9 km / 12 km<br />
                  15 km / 17 km / 21 km
                </div>
              </li>
              <li class="challenge-meta__item">
                <span class="fas fa-hourglass-half fa-lg fa-fw mr-05"></span>
                <div class="challenge-meta__text challenge-meta__text--strong">
                  <span class="subheading">Čas na zvládnutie</span><br />
                  60 dní
                </div>
              </li>
            </ul>
            <a href="/objednavka/vyzva/10" class="button mt-1"
              >Zapojiť sa do výzvy</a
            >
          </section>
          <section class="gifts text-light">
            <div class="text-center">
              <!-- Slider main container -->
              <div class="swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                  <!-- Slides -->
                  <div class="swiper-slide">
                    <img
                      class="gifts__image"
                      src="https://res.cloudinary.com/osavirtual/image/upload/v1612457453/odmeny/RunBasic_vuyp2y.png"
                      alt="Medaila Basic-Run"
                    />
                  </div>
                  <div class="swiper-slide">
                    <img
                      class="gifts__image"
                      src="https://res.cloudinary.com/osavirtual/image/upload/v1612457454/odmeny/RunHobby_zzn6bu.png"
                      alt="Medaila Hobby-Run"
                    />
                  </div>
                  <div class="swiper-slide">
                    <img
                      class="gifts__image"
                      src="https://res.cloudinary.com/osavirtual/image/upload/v1612457453/odmeny/RunHard_ti1abq.png"
                      alt="Medaila Hard-Run"
                    />
                  </div>
                  <div class="swiper-slide">
                    <img
                      class="gifts__image"
                      src="https://res.cloudinary.com/osavirtual/image/upload/v1612965544/odmeny/OSA_VirtualChallenge_Tricka_Run_ynqsku.png"
                      alt="Tričko Run"
                    />
                  </div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>

                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
              </div>
            </div>
            <h2 class="gifts__title">Odmeny:</h2>
            <ul class="gifts__list fa-ul">
              <li class="gifts__item">
                <div class="gifts__highlight">
                  <span class="fa-li">
                    <span class="fas fa-check"></span>
                  </span>
                  10% zľava na štandardnom poplatku za jednotlivé výzvy
                </div>
              </li>
              <li class="gifts__item">
                <div class="gifts__highlight">
                  <span class="fa-li">
                    <span class="fas fa-check"></span>
                  </span>
                  3 medaile v darčekovej pamätnej plakete
                </div>
                <div class="gifts__description">
                  v hodnote 40 € (medaile, balenie, poštovné)
                </div>
              </li>
              <li class="gifts__item">
                <div class="gifts__highlight">
                  <span class="fa-li">
                    <span class="fas fa-check"></span>
                  </span>
                  Tričko s insígniami OSA VIRTUAL CHALLENGE
                </div>
                <div class="gifts__description">v hodnote 10 €</div>
              </li>
              <li class="gifts__item">
                <div class="gifts__highlight">
                  <span class="fa-li">
                    <span class="fas fa-check"></span>
                  </span>
                  Bežecké funkčné tričko s insígniami OSA VIRTUAL CHALLENGE 2021
                </div>
                <div class="gifts__description">v hodnote 35 €</div>
              </li>
              <li class="gifts__item">
                <div class="gifts__highlight">
                  <span class="fa-li">
                    <span class="fas fa-check"></span>
                  </span>
                  20% zľava na ďalšie odevy z portfólia OSA VIRTUAL CHALLENGE
                  2021
                </div>
              </li>
              <li class="gifts__item">
                <div class="gifts__highlight">
                  <span class="fa-li">
                    <span class="fas fa-check"></span>
                  </span>
                  Podporíš športový rozvoj detí v OSA Športovej akadémii
                </div>
                <div class="gifts__description">
                  v hodnote 2 € zo štartovného
                </div>
              </li>
            </ul>
          </section>
        </div>
      </div>
    </header>
    <main>
      <section class="my-4">
        <div class="l-page-container">
          <h2 class="text-center">
            Informácie o výzve
            <span
              class="headline-underline headline-underline--centered"
            ></span>
          </h2>
          <p>
            V tejto výzve už sa bavíme naozaj o príprave bežca na svoj prvý
            polmaratón. 3 mesiace tréningu ti zabezpečia kratšie aktivity výzvy
            a finále bude naozaj Tvoj prvý polmaratón. Nezáleží na prostredí, na
            súperoch, na počasí. Je to len výzva pre Teba. Odmenou Ti bude ten
            slastný pocit, o ktorom vravia všetci tí, ktorí to zvládli. A nielen
            to. V našej výzve je o odmeny postarané ako na ozajstných pretekoch.
          </p>
        </div>
      </section>
      <%- include('../templates/rules.ejs')-%>
    </main>
    <%- include('../templates/footer.ejs') -%> <%-
    include('../templates/scripts.ejs') -%>
    <script type="module" src="/static/swiper/swiper-init.js"></script>
  </body>
</html>
